<div class="announcement-banner">

	<p>
		30% off store-wide for a limited time. Use code "Grabster"
	</p>
	
</div>

<style>
    .announcement-banner {
		background-color: var(--background);
		border-bottom: 1px solid var(--text-secondary);
		z-index: 900;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		padding: 0 40px;
    }
</style>