<footer>
    <div class="footer-container">
        <div class="footer-branding">
            <img id="logo" src="/public/logo.svg" alt="Grabster Studios Logo">
            <h1>Grabster Studios</h1>
        </div>
            <div class="footer-links-container">
                <ul>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#">Refund Policy</a>
                    </li>
                    <li>
                        <a href="#">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
                <!-- <ul>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul> -->
            </div>
        </div>
</footer>

<style>
    footer {
		height: fit-content;
		width: 100%;
		background-color: var(--background-inverse);
        padding: 1.6em 0;
        margin-top: 1em;
	}
        footer #logo {
            width: 40px;
        }
    .footer-container {
		display: flex;
        align-items: /* flex-start */ center;
        color: var(--text-inverse);
        justify-content: space-between;
        padding: 0 2em;
    }
    .footer-links-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end;
        gap: 1em;
    }
    
    .footer-branding {
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        gap: 1em;
        height: fit-content;
    }
        .footer-branding h1 {
            font-weight: 400;
            font-size: 1.8em;
            margin: 6px 0 0 0;
        }

    footer ul {
        text-decoration: none;
        list-style: none;
        padding: 0;
        display: flex;
        gap: 2em;
        margin: 0;
    }
</style>