<footer>
    <div class="footer-container">
        <div class="footer-branding">
            <img id="logo" src="/public/logo.svg" alt="Grabster Studios Logo">
            <span></span>
            <h1>Grabster Studios</h1>

        </div>

            <div class="footer-links-container">

                <ul>
                    <a href="privacy-policy">
                    <li>Privacy Policy
                    </li></a>
                    
                    <a href="refund-policy">
                    <li>
                        Refund Policy
                    </li>
                    </a>

                    <a href="#">
                    <li>
                        Terms & Conditions
                    </li>
                    </a>

                    <a href="#">
                    <li>
                        Contact
                    </li>
                    </a>
                </ul>

            </div>
            
        </div>
</footer>

<style>
    footer {
		height: fit-content;
		width: 100%;
		background-color: var(--background-inverse);
        padding: 1.6em 0;
	}
        footer #logo {
            width: 30px;
        }
    footer a:hover {
    }
    .footer-container {
		display: flex;
        align-items: /* flex-start */ center;
        color: var(--text-inverse);
        justify-content: space-between;
        padding: 0 2em;
    }
    
    .footer-branding {
        width: 100%;
        flex-wrap: wrap;
        display: flex;
        align-items: center;
        gap: .8em;
        height: fit-content;
    }
        .footer-branding span {
            background-color: var(--border-inverse);
            height: 1.4em;
            width: 1px;
        }
        .footer-branding h1 {
            font-weight: 400;
            font-size: 1.4em;
            margin: 6px 0 0 0;
        }

    .footer-links-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-end;
        gap: 1em;
        width: 100%;
    }

    footer ul {
        text-decoration: none;
        list-style: none;
        padding: 0;
        display: flex;
        gap: 2em;
        margin: 0;
    }
    footer a {
        border-bottom: none;
    }

@media only screen and (max-width: 900px) {
    .footer-container {
        align-items: flex-start;
        flex-direction: column;
        gap: 1.6em;
        padding: 0;
    }

    .footer-branding {
        flex-wrap: nowrap;
        padding: 0 1em;
        width: fit-content;
    }

    .footer-links-container {
        align-items: flex-start;
    }

    footer ul {
        flex-direction: column;
        gap: 0em;
        width: 100%;
    } 
        footer li {
            padding: 1em 0 1em 1em;
            border-bottom: 1px solid var(--border-inverse);
        }
            footer ul:first-child {
                border-top: 1px solid var(--border-inverse);
            }
    footer li:hover {
        background-color: var(--background-inverse-hover);
    }
}
</style>