#avetc-banner {
    margin-top: 16px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

#paragraph {
    width: 70%;
    padding-bottom: 16px;
}

.title-line-2 {
    padding-top: 40px;
}


.submissions-button {
    border: none;    
    padding: 16px 24px;
    margin-top: 24px;
    background-color: #1c9bf0;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    display: inline-flex;
    align-items: center;
    font-size: 0.9em;
    transition: background-color 300ms ease;
    cursor: pointer;
}

.submissions-button:hover {
    background-color: #0071bd;
    transition: background-color 300ms ease;
}

.ph-twitter-logo-fill {
    font-size: 1.7em;
    padding-right: 10px;
}

.twitter-section {
    display: flex;
    flex-direction: column;
    align-items: none;
    padding-top: 60px;
}

@media screen and (max-width: 900px) {
    #paragraph {
        width: 100%;
    }

    .twitter-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .submissions-button {
        width: 85vw;
        justify-content: center;
    }
}