.page-title {
  /* font-size: 1.6vw; */
  display: flex;
  align-items: center;
  margin: 0;
}

.page-description {
  margin: 0;
}

.page-title-container {
  padding: 60px 0;
  padding-top: 30px;
}

/* Grid */

.ph-arrows-out {
  font-size: large;
  padding-top: 3px;
}

.item-image {
  max-height: 100%;
  object-fit: cover;
}

.hishoot-preview {
  height: 400px;
}

/* Logoflio Page */

.item-type-compact p {
  margin-bottom: 0;
}

/* Long previews */

.long-preview {
  height: 600px;
}

.fit-height-preview {
  height: 100%;
}

.long-preview, .fit-height-preview {
  filter: brightness(1);
  transition: filter 300ms ease;
}

.long-preview:hover, .fit-height-preview:hover {
  filter: brightness(0.8);
  transition: filter 300ms ease;
}

.hd-label {
  position: absolute;
  z-index: 2;
  margin-left: 10px;
  margin-top: 10px;
  width: 50px;
  opacity: 0;
  transition: all 300ms ease;
  cursor: pointer;
  filter: var(--image-invert);
}

.hd:hover > .hd-label {
  opacity: 1;
  transition: all 300ms ease;
}

.yt-title {
  font-size: clamp(1.4em, 0.6vw, 100px);
  font-weight: 600;
}

/* --- Mobile --- */

@media screen and (max-width: 900px) {
  .landing-title {
    font-size: x-large;
  }
}

@media screen and (max-width: 600px) {
  .landing-title {
    font-size: x-large;
  }
  .page-icon {
    width: 22px;
  }
}
